body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App p {
  position: relative;
  top: -13em;
}

.App button {
  border-style: none;
  border-radius: 100px;
  padding: 10px;
  font-weight: 500;
  font-size: 20px;
  background-color: orange;
  margin-top: 20px;
}
